node_modules/
.next/
.env.local
*.tsbuildinfo
next-env.d.ts
check_webhooks.js
subscribe-service.py
subscribe-service/

# managed
**.data.json
**.node-persist**
**_IGNORE_**
# end managed

google-service-account.json

